* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background-color: #ddd;
}

/* Pagina nbanner individual */
.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 200px;
  margin: -40px 0 -100px 0;
}


h1 {
  color: #333;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 600px) {
  input[type="file"] {
    width: 80%;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.back-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 48%;
}

.back-button:hover {
  background-color: #d32f2f;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 48%;
}

.submit-button:hover {
  background-color: #388E3C;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-text {
  text-align: center;
}

.status-log {
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}

.ok-button {
  margin-top: 40px;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #388E3C;
  border: none;
  font-weight: bold;
  cursor: pointer;
}